*{
    background-color:grey;
    color:white;
    opacity:0.9;
}

body{
    text-align: center;
}

.add{
    border:2px solid rgb(29, 29, 29);
    border-radius: 5px;
    height:5vh;
    width:60vw;
    text-align: center;
    justify-content: center;
    margin:0 auto;
    padding:30px;
}

::placeholder{
    color:rgb(253, 252, 252);
} 

input{
    color:white;
    width:40vw;
    height:30px;
    border:2px solid black;
} 
button{
    /* background-color:white; 
    color:black;  */
    width:30px;
    height:30px;
    margin:10px;
    border:2px dashed rgb(19, 16, 16); 
}
.btn{
    border:2px solid black;
}

.container{
    border:2px solid black;
    margin:5px;
    border-radius: 5px;
    height:50vh;
    width:80vw;
    text-align: center;
    justify-content: center;
    margin:10px auto;
    padding:20px;
} 
.new-item{
    border:2px solid rgb(29, 29, 29);
    margin:5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px; 
} 
p{
    margin-left:2%;
}
.completed{
    font-style:italic;
    text-decoration:line-through;
}